page-estados {
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #f89b33;

      }

      .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
      }
}
